In [3]:
import pandas as pd
df_premier25 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2526/E0.csv')
df_premier25.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92

In [7]:
df_premier25.rename(columns={'FTHG':'home_goals','FTAG':'away_goals'}, inplace=True)
df_premier25.tail()

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
224,E0,24/01/2026,17:30,Bournemouth,Liverpool,3,2,H,2,1,...,1.88,1.98,NaN,NaN,1.89,1.98,1.85,1.93,1.94,2.04
225,E0,25/01/2026,14:00,Brentford,Nott'm Forest,0,2,A,0,1,...,1.85,2.00,NaN,NaN,1.85,2.00,1.79,1.94,1.92,2.07
226,E0,25/01/2026,14:00,Crystal Palace,Chelsea,1,3,A,0,1,...,1.73,2.08,NaN,NaN,1.83,2.14,1.72,2.04,1.84,2.17
227,E0,25/01/2026,14:00,Newcastle,Aston Villa,0,2,A,0,1,...,1.85,2.00,NaN,NaN,1.90,2.00,1.84,1.93,1.91,2.08
228,E0,25/01/2026,16:30,Arsenal,Man United,2,3,A,1,1,...,1.88,1.98,NaN,NaN,1.91,1.98,1.88,1.90,1.96,2.03

In [ ]:
# https://www.football-data.co.uk/mmz4281/2526/E0.csv
# 1 season

root = "https://www.football-data.co.uk/mmz4281/"
leagues = ['E0','E1','E2','E3','EC']
frames = []

for league in leagues:
	df = pd.read_csv(root +'2526' + '/' + league + '.csv')
	frames.append(df)

In [10]:
len(frames)

5

In [16]:
frames[0]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,E0,24/01/2026,17:30,Bournemouth,Liverpool,3,2,H,2,1,...,1.88,1.98,NaN,NaN,1.89,1.98,1.85,1.93,1.94,2.04
225,E0,25/01/2026,14:00,Brentford,Nott'm Forest,0,2,A,0,1,...,1.85,2.00,NaN,NaN,1.85,2.00,1.79,1.94,1.92,2.07
226,E0,25/01/2026,14:00,Crystal Palace,Chelsea,1,3,A,0,1,...,1.73,2.08,NaN,NaN,1.83,2.14,1.72,2.04,1.84,2.17
227,E0,25/01/2026,14:00,Newcastle,Aston Villa,0,2,A,0,1,...,1.85,2.00,NaN,NaN,1.90,2.00,1.84,1.93,1.91,2.08
228,E0,25/01/2026,16:30,Arsenal,Man United,2,3,A,1,1,...,1.88,1.98,NaN,NaN,1.91,1.98,1.88,1.90,1.96,2.03

In [19]:
# https://www.football-data.co.uk/mmz4281/2526/E0.csv
# multiple seasons

root = "https://www.football-data.co.uk/mmz4281/"
seasons = ['2021','2122','2223','2324','2425','2526']
leagues = ['E0','E1','E2','E3','EC']
frames = []

for season in seasons:
	for league in leagues:
		df = pd.read_csv(root + season + '/' + league + '.csv', encoding="unicode_escape")
		frames.append(df)

In [20]:
len(frames)

30

In [25]:
frames[29]

,ï»¿Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,EC,09/08/2025,15:00,Altrincham,Aldershot,3,2,H,2,0,...,1.90,1.90,1.92,1.93,1.90,1.90,1.86,1.84,2.00,1.99
1,EC,09/08/2025,15:00,Boreham Wood,Rochdale,0,2,A,0,0,...,2.00,1.80,2.05,1.82,2.02,1.80,1.96,1.75,2.06,1.89
2,EC,09/08/2025,15:00,Brackley Town,Eastleigh,1,0,H,1,0,...,2.00,1.80,2.14,1.72,2.03,1.80,1.96,1.75,2.06,1.84
3,EC,09/08/2025,15:00,Braintree Town,Halifax,3,0,H,2,0,...,1.93,1.88,1.97,1.88,1.93,1.88,1.88,1.82,1.97,1.98
4,EC,09/08/2025,15:00,Gateshead,Southend,0,3,A,0,1,...,1.83,1.98,1.67,2.19,1.83,2.04,1.75,1.96,1.84,2.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,EC,24/01/2026,15:00,Morecambe,Solihull,0,2,A,0,1,...,1.90,1.90,NaN,NaN,1.90,1.90,1.88,1.82,2.02,1.92
328,EC,24/01/2026,15:00,Rochdale,Truro,2,0,H,2,0,...,2.00,1.80,NaN,NaN,2.00,1.85,1.91,1.80,NaN,NaN
329,EC,24/01/2026,15:00,Tamworth,Sutton,0,1,A,0,0,...,1.83,1.98,NaN,NaN,1.83,1.98,1.78,1.93,1.88,2.06
330,EC,24/01/2026,15:00,York,Braintree Town,5,0,H,4,0,...,1.90,1.90,NaN,NaN,1.90,1.90,1.84,1.85,1.91,1.96
331,EC,24/01/2026,17:30,Scunthorpe,Forest Green,3,2,H,1,1,...,1.78,2.03,NaN,NaN,1.80,2.03,1.75,1.96,1.77,2.21